/*  ========================================================================  *\
    
    * OVERVIEW
  
    * This file describes the components that make up the page.
    * From their internal layout, the color of their text, etc.
  
    * It was visible until now, but here it is very strongly enforced by:
    * BEM (Block - Element - Modifier) thinking in the code.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;

\*  ========================================================================  */

/*  ========================================================================  *\

    * C O M M E N T
    
    * FONTS
    *     h1, h2, h3; 
    *     a, .menu, .button;
    *     p, p-adress;
    *     .form-name, .form-email, .form-messeage;
    *     .footer-brandname, .footer-studentname;
    
    * REFERENCES
    *     a; 
    *     .menu;
    *         .menu:hover;
    *         .menu:active;
    *
    *     .telnumber,
    *     .email;
    *         .telnumber:hover,
    *         .email:hover;
    *         .telnumber:active,
    *         .email:active;
    
    * BUTTONS
    *     .button;

\*  ========================================================================  */

/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    text-transform: none;
    margin-bottom:  max(10px, 0.526vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 10px - FHD max.calc.  */
    font-size:      max(40px, 2.105vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 40px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(50px, 2.631vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 50px - FHD max.calc.  */
    letter-spacing: 0;
}

h2, h3,
a,
.menu,
.button {
    text-transform: uppercase;
    font-size:      max(12px, 0.631vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 12px - FHD max.calc.  */
    font-weight:    bold;
    line-height:    max(15px, 0.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
    letter-spacing: 2.4px;
    opacity:        1;
}

h2 {
    margin-bottom: max(10px, 0.526vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 10px - FHD max.calc.  */
    color:         #6200ea;
}

h3, .menu {
    color: #b2acba;
}

p {
    font-size:      max(20px, 1.052vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 20px - FHD max.calc.  */
    line-height:    max(30px, 1.579vw);  /*  150%  */
    letter-spacing: 0;
    text-align:     left;
}

.p-adress {
    font-size:      max(14px, 0.737vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 10px - FHD max.calc.  */
    line-height:    max(14px, 0.737vw);  /*  100%  */
    letter-spacing: 0;
    text-align:     left;
}

.form-name,
.form-email,
.form-messeage {
    text-align:     left;
    font:           normal normal bold max(14px, 0.737vw)/max(18px, 0.947vw) Montserrat;
    letter-spacing: 0px;
    opacity:        1;
}

.footer-brandname,
.footer-studentname {
    color: #6200ea;
}


/*  ========================================================================  *\
    R E F E R E N C E S
\*  ========================================================================  */ 

a {
    text-decoration: none;
    cursor:          pointer;
    color:           #6200ea;
}

.menu {
    display:        inline-block;

    margin-right:   0;
    margin-left:    3.789vw;  /*  72px - FHD calc.  */
    padding-top:    32.5px;
    padding-bottom: 28.5px;
    border-bottom:  4px solid;
    border-color:   #6200ea;
}

    .menu:hover {
        border-bottom: 4px solid;  /*  4px - FHD calc.  */
        border-color:  #ffffff;
        color:         #ffffff;
    }

    .menu:active {
        color:     #ffffff;
    }

.telnumber,
.email {
    display:     inline-block;
    line-height: max(25px, 1.316vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 25px - FHD max.calc.  */
    }

    .telnumber:hover, .telnumber:active,
    .email:hover, .email:active {
        color: #ff0000;
    }


/*  ========================================================================  *\
    B U T T O N S
\*  ========================================================================  */

.button {
    display:          inline-block;
    cursor:           pointer;
    width:            100%;
    margin-top:       max(20px, 1.052vw);    /*  Universal FHD-Tablet-Mobil min.-max.: 20px - FHD max.calc.  */
    padding:          max(17.5px, 0.921vw);  /*  Universal FHD-Tablet-Mobil min.:30px max.: 17.5px - FHD max.calc.  */
    border:           2px solid;
    border-radius:    max(30px, 3.789vw);    /*  Universal FHD-Tablet-Mobil min.:30px max.: 30px - FHD max.calc.  */
    background-color: #6200ea;
    text-align:       center;
    color:            #ffffff;
}