/*  ========================================================================  *\
    
    * OVERVIEW
          
    * This file manages the layout of the page.
    * Instead of placing them separately, we link them to the components.

    * This creates a connected but separate system.
    * Which does nothing but say some parameters:
    * For example: what size should they be and where should they appear.
    
    * The classes declared here can be called on any container.
    * They wear the right size and behave the right way.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;
    
\*  ========================================================================  */

/*  ========================================================================  *\
    
    * C O M M E N T
    
    * CONTAINER
    *     .container;
    *     @media(max-width: 768px);
    *     @media(max-width: 1025px);
    
    * HEADER
    *     .header;
    *         .site-logo;
    *         .navigation;
    *     @media(max-width: 768px);
    *     @media(max-width: 1025px);
    
    * MAIN
    *     main;
    *         .maps-box;  
    *             .google-maps;
    *         .postadress-box;
    *             .p-adress;
    *         .digitaladress-box;
    *             .telnumber;
    *             .email;
    *         .mediaicon-box;
    *             .ul,.li;
    *                 .social-icon;
    
    * ASIDE
    *     aside;
    *         .form;
    *             .form-name;
    *             .form-email;
    *             .form-messeage;
    
    * FOOTER
    *     footer;

\*  ========================================================================  */


/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
    display: grid;
    grid-template-columns: 13vw 1fr 1fr 13vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        ". main aside ."
        "footer footer footer footer";
    column-gap: 1.895vw;  /*  36px - FHD size  */
    row-gap:    2.526vw;  /*  48px - FHD size  */
}

@media(max-width: 1025px) {
    .container {
        display: grid; 
        grid-template-columns: 13vw 1fr 13vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header"
            ". main ."
            ". aside ."
            "footer footer footer";
        row-gap: 4.930vw;     /*  50px - Tablet size  */
    }
}

@media(max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header"
            ". main ."
            ". aside ."
            "footer footer footer";
        row-gap: 6.579vw;  /*  50px - Mobil size  */
    }
}


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    grid-area:        header;
    display:          table;
    
    width:            auto;
    height:           4.210vw;  /*  80px - FHD */
    padding:          0 auto;
    background-color: #6200ea;
}

    .site-logo {
        display:        table-cell;

        padding-left:   14.895vw;  /*  13% width(13vw) + column-gap(1.895vw) - FHD  */
        vertical-align: middle;
        text-align:     left;
    }

    .navigation {
        display:          table-cell;

        padding-right:    14.895vw;  /*  13% width(13vw) + column-gap(1.895vw) - FHD  */
        vertical-align:   middle;
        text-align:       right;
    }

@media(max-width: 1025px) {
    header {
        grid-area:        header;
        display:          table;
        
        width:            auto;
        height:           auto;
        padding:          1.972vw 14.895vw 0px 14.895vw;  /*  20px FHD(padding-right) 0 FHD(padding-right)  - Tablet  */
    }
    
        .site-logo {
            display:        table-row;

            padding: 0 auto;
        }

        .navigation {
            display:        table-row;

            padding: 0 auto;
        }
}

@media(max-width: 768px) {
    header {
        grid-area:        header;
        display:          table;
        
        padding:          2.631vw 6.579vw 0vw 6.579vw;  /*  20px 50px 0px 50px  - Mobil  */
    }
}

/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area: main;

    height:           auto;
    padding:          max(30px, 3.789vw);  /*  Universal FHD-Tablet-Mobil min.:30px max.:72px - FHD max.calc.  */
    border:           1px;
    border-radius:    max(15px, 0.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
    background-color: #ffffff;
}

    .maps-box,
        .google-maps {
            width:         100%;
            height:        max(280px, 0.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.:280px - FHD max.calc.  */
            border:        1px;
            border-radius: max(15px, 0.789vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
        }

    .postadress-box,
    .digitaladress-box,
    .mediaicon-box {
        width:      100%;
        text-align: left;
        margin-top: max(30px, 1.578vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 30px - FHD max.calc.  */
    }

        ul {list-style-type: none;} li {display: inline;}

            .social-icon {
                margin-right: max(10px, 0.526vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 10px - FHD max.calc.  */
            }


/*  ========================================================================  *\
    A S I D E
\*  ========================================================================  */

aside {
    grid-area:        aside;

    width:            auto;
    height:           auto;
    padding:          max(30px, 3.789vw);  /*  Universal FHD-Tablet-Mobil min.-max.:30px - FHD max.calc.  */
    border:           1px;
    border-radius:    max(15px, 0.789vw);   /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
    background-color: #ffffff;
}

.form {
    margin-top: max(5px, 0.260vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 5px - FHD max.calc.  */
}

    .form-name,
    .form-email,
    .form-messeage {
        width:      calc(100% - 1.516vw);         /*  100% minus left-padding(28.8px) - FHD max.calc.  */
        margin-top: max(15px, 0.789vw);           /*  Universal FHD-Tablet-Mobil min.-max.: 15px - FHD max.calc.  */
        padding:    1.010vw 0vw 1.010vw 1.516vw;  /*  Universal FHD-Tablet-Mobil min.-max.: 19.2px 0px 19.2px 28.8px - FHD max.calc.  */
        border:     none;
        background: #f4f3f5 0% 0% no-repeat padding-box;
    }

    .form-messeage {
        height: max(120px, 6.315vw);  /*  Universal FHD-Tablet-Mobil min.-max.:120px - FHD max.calc.  */
    }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    grid-area:        footer;

    margin-top:       max(20px, 1.052vw);    /*  Universal FHD-Tablet-Mobil min.-max.: 20px - FHD max.calc.  */
    padding:          max(42.5px, 2.239vw);  /*  Universal FHD-Tablet-Mobil min.-max.: 42.5px - FHD max.calc.  */
    background-color: #211138;
    text-align:       center;
}